.flipCard {
  /* background-color: transparent; */

  perspective: 1000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nonFocusFlipCard {
  /* background-color: transparent; */

  perspective: 1000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  /* font-size: 2.25em;
  font-weight: 900; */
  /* text-align: center; */
  /* align-items: center; */
  /* margin: 0; */
  /* padding: 6px; */
  caret-color: transparent;
  display: inline-block;
  font-family: var(--font-ethnocentric), Arial, Helvetica, sans-serif;
  /* width: 100%;
  height: 100%; */
  /* border: none; */
  outline: none;
}

.nonFocusTitle {
  /* font-size: 2.25em;
  font-weight: 900; */
  /* text-align: center; */
  /* align-items: bottom; */

  /* margin: 0; */
  /* padding: 6px; */
  caret-color: transparent;
  display: inline-block;
  font-family: var(--font-ethnocentric), Arial, Helvetica, sans-serif;

  /* width: 100%;
  height: 100%; */
  /* border: none;
  outline: none; */
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCardFront,
.flipCardFoundFront,
.NotFound,
.flipCardPositionWrong,
.flipCardFound {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipped {
  transform: rotateY(180deg);
}

.flipCardFront {
  /* background: linear-gradient(
    120deg,
    white 10%,
    white 40%,
    rgb(245, 254, 247) 70%,
    rgb(245, 254, 247) 100%
  ); */
  color: rgb(227, 227, 227);
  box-shadow: inset 0 2px 4px rgba(241, 144, 39, 0.6);
  transition: box-shadow 0.5s ease-in-out;
}
.flipCardFoundFront {
  box-shadow: inset 0 2px 4px #88d66cbf;
  transition: box-shadow 0.5s ease-in-out;
}

.flipCardPositionWrong {
  /* background: linear-gradient(
    120deg,
    rgb(246, 251, 122) 10%,
    #f6fb7a 40%,
    #f6fb7a 70%,
    #e1e380 100%
  ); */
  color: rgb(87, 87, 87);
  transform: rotateY(180deg);
  box-shadow: inset 0 2px 4px rgba(241, 144, 39, 1),
    inset 0 3px 6px rgba(246, 251, 122, 1);
  color: #efb630;
}

.flipCardFound {
  background: linear-gradient(
    120deg,
    rgba(136, 214, 108, 0.475) 30%,
    rgba(136, 214, 108, 0.302) 60%,
    rgba(136, 214, 108, 0.331) 80%,
    rgb(115, 187, 163) 100%
  );
  color: white;
  transform: rotateY(180deg);
  box-shadow: inset 0 2px 4px rgba(136, 214, 108, 1),
    inset 0 3px 6px rgba(246, 251, 122, 1);
  color: #9bff77;
}

.NotFound {
  background: linear-gradient(
    120deg,
    rgba(238, 234, 234, 0.265) 10%,
    #ffffff43 60%,
    #ffffff50 80%,
    #ffffff 100%
  );
  color: gray;
  transform: rotateY(180deg);
  box-shadow: inset 0 2px 4px rgb(186, 186, 186),
    inset 0 3px 6px rgb(216, 216, 215);
  color: rgb(182, 182, 182);
}
/* -------------------------------- */

.flipCard:focus-within {
  border: 2px solid skyblue;
}

.title:focus::after {
  content: "_";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: blink-caret 1s step-end infinite;
  
}
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
